html,body{
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
}

.sidebar{
    background-color: blue;
    grid-row:1 / -1 ;

    display: grid;
    align-content: start;
    grid-template-rows: repeat(3,auto);
    gap:50px;

    color: white;
    padding: 20px;
    font-weight: bold;


}

.sidebar-header{
    font-size: 2rem;
}
.sidebar > ul{
    font-size: 1.3rem;
}
.sidebar li{
    padding-bottom: 8px;
}
ul img{
    width: 1.3rem;
    height: 1.3rem;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header img{
    width: 15px;
    height: 15px;
    background-color: grey;
}

.header-row:nth-of-type(1){
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header-row:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.header-row:nth-of-type(2) img{
    width: 50px;
    height: 50px;
    grid-row: 1/3;
}
.header-row:nth-of-type(2) .left{
    display: grid;
    justify-content: start;
    grid-template-rows: repeat(2,1fr);
}
.left > .hi{
    grid-row: 1/3;
    grid-column: 2;
}
.left > .name{
    grid-row: 2;
    grid-column: 2;
}


.header .right{
    justify-self: center;
}



.main-content{
    background-color: grey;
}