html,body{
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
    display: grid;
    grid-template: 150px 1fr / 300px 1fr;
}

.sidebar{
    background-color: blue;
    grid-row:1 / -1 ;

    display: grid;
    align-content: start;
    grid-template-rows: repeat(3,auto);
    gap:50px;

    color: white;
    padding: 20px;
    font-weight: bold;


}

.sidebar-header{
    font-size: 2rem;
}
.sidebar > ul{
    font-size: 1.3rem;
}
.sidebar li{
    padding-bottom: 8px;
}
ul img{
    width: 1.3rem;
    height: 1.3rem;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
}



.main-content{
    background-color: grey;
}